<!DOCTYPE html>
<html>
<head>
	<title>Hotel Information</title>
	<style>
		table {
			font-family: Arial, sans-serif;
			border-collapse: collapse;
			width: 80%;
		}

		td, th {
			border: 1px solid #ddd;
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		th {
			background-color: #4CAF50;
			color: white;
		}
	</style>
</head>
<body>
	<form action="/hotel_info" method="POST">
        <label for="sort">Sort by:</label>
        <select id="sort" name="sort">
			<option value="" selected disabled hidden>Choose an option</option>
            <option value="price">Price</option>
            <option value="rating">Rating</option>
            <option value="distance">Distance</option>
        </select>
        <button type="submit">Sort</button>
    </form>
    <br>
	<a href="/input"><button>Input Additional Information</button></a>
	<br>
	<a href="/search"><button>Search By Ratings/Price</button></a>
	<br>
	<br>
    <table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Rating</th>
				<th>Word Rating</th>
				<th>Price</th>
				<th>Location</th>
				<th>Distance</th>
				<th>Duration</th>
			</tr>
            {% for hotel in hotelData %}
            <tr>
                <td>{{hotel["name"]}}</td>
                <td>{{hotel["rating"]}}</td>
                <td>{{hotel["wordRating"]}}</td>
                <td>{{hotel["price"]}}</td>
                <td>{{hotel["location"]}}</td>
                <td>{{hotel["distance"]}}</td>
                <td>{{hotel["duration"]}}</td>
            </tr>
            {% endfor %}
		</thead>
		<tbody>
